{% extends 'layout.html' %}

{% block body %}
    <h1>View All Publications</h1>
    <br/>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Title</th>
            <th>Type Of Publication</th>
            <th>Status</th>
            <th>Category</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for publication in publications %}
            <tr>

                <td>{{ publication.get_title() }}</td>
                {% if  publication.get_type() == "smag" %}
                    <td> Magazine</td>
                {% else %}
                    <td>Book</td>
                {% endif %}
                {% if  publication.get_status() == "P" %}
                    <td> Pending</td>
                {% elif publication.get_status() == "A" %}
                    <td>Available For Borrowing</td>
                {% elif publication.get_status() == "R" %}
                    <td>Only For Reference</td>
                {% endif %}
{#            "#}
                <td>{{ publication.get_category() }}</td>
                <td><a href="/update/{{publication.get_pubid()}}" class="btn btn-warning">Update</a></td>
                <td><form action="{{url_for('delete_publication', id=publication.get_pubid())}}" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');"></form></td>

            </tr>
        {% endfor %}
        {#        <tr>#}
        {#            <th scope="row">1</th>#}
        {#            <td>Harry Potter and the Deathly Hallows</td>#}
        {#            <td>Book</td>#}
        {#            <td>For Borrowing</td>#}
        {#            <td>Fantasy</td>#}
        {#            <td><a href="#">View</a></td>#}
        {#            <td><a href="/update">Update</a></td>#}
        {#            <td><a href="#">Delete</a></td>#}
        {#        </tr>#}
        {#        <tr>#}
        {#            <th scope="row">2</th>#}
        {#            <td>Harry Potter and the Half-Blood Prince</td>#}
        {#            <td>Book</td>#}
        {#            <td>For Borrowing</td>#}
        {#            <td>Fantasy</td>#}
        {#            <td><a href="#">View</a></td>#}
        {#            <td><a href="/update">Update</a></td>#}
        {#            <td><a href="#">Delete</a></td>#}
        {#        </tr>#}
        </tbody>
    </table>

{% endblock %}